<!DOCTYPE html>
<html>

<head>
    <title>Inventory App</title>
</head>

<body>
    <h1>Welcome to the Inventory App</h1>
    <a href="/categories">View Categories</a>
    <a href="/items">View Items</a>
</body>

</html>